body {
    font-family: 'Courier New', Courier, monospace;
    background-color: whitesmoke;
    padding-left: 24px;
}



h1 {
    margin: 12px;
    padding-top: 64px;
}

ul {
    padding: 24px;
    margin: 48px 64px;
    font-size: 18px;
    background-color: beige;
}

